.title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 4px;
  margin-top: 0;
}
.text {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}
.card {
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(250, 249, 249);
}
.card:hover {
  background-color: rgb(216, 215, 213);
  cursor: pointer;
}
